@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand+SC&display=swap');

.profiles {
  width: 75vw;
  display: flex;
  // flex-direction: row;
  // align-items: center;
  // justify-content: center;
  // text-align: center;
  margin-top: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 10px 20px;
  margin-left: 20vw;

  &__header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 60vh;
    text-align: center;
    font-family: 'Patrick Hand SC', cursive;

  }
}


.surfer {
  font-family: 'Patrick Hand SC', cursive;
  background-color: rgba(52, 86, 139, 0.7);
  margin-bottom: 50px;
  height: 70vh;
  border-radius: 20px;
  display: flex;
  justify-content: flex-start;
  align-content: center;
  flex-direction: column;

  &__name {
    font-size: 1.3rem;
    font-weight: 900;
    text-align: center;
  }

  &__age {
    font-size: 1rem;
  }
}

img {
  margin-top: 10px;
  justify-self: center;
  align-self: center;
  height: 20vh;
  width: auto;
}