@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand+SC&display=swap');

.nav__input {
  font-family: 'Patrick Hand SC', cursive;
  height: 4vh;
  width: 80%;
  margin-left: 1vw;
  font-size: 1.2rem;

}